In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2
import meteva.base as meb

### 输出成micaps第3类文件
**write_stadata_to_micaps3(sta,save_path = "a.txt",creat_dir = False, type = -1,effectiveNum = 4，show = False,title = None)**  
将站点数据以micaps第3类格式输出

**参数说明：**  
 **sta**: 站点数据      
 **save_path**: 文件输出路径，缺省值为"a.txt"   
 **creat_dir**: 当数据文件路径对应的文件夹不存在时是否新建相应的文件夹  
 **type**:  控制文件在micaps中的显示方式。当type = -1时， 若站点值为0.1-0.9时填一位小数，若站点值大于1时只填整数；当 type = -2时，若站点值小于1时不填，大于等于1时只填整数；当 type = -3 ,只填整数。  
 **effectiveNum**: 文件数据的有效位数，缺省值为4   
 **show**: 是否在屏幕上打印文件成功输出的信息  
 **title**: micaps文件头中文件描述内容，它将在micaps软件系统中显示，缺省时由系统自动根据文件路径生成  
 **return**: 成功输出返回True，失败就返回False 


**调用示例**

In [2]:
filename = r"H:\test_data\input\meb\m1.txt"
sta = meb.read_stadata_from_micaps1_2_8(filename,meb.m1_element_column_dict["温度"]) 
meb.write_stadata_to_micaps3(sta,r"H:\test_data\output\meb_new\m3.txt")

True

In [3]:
meb.write_stadata_to_micaps3(sta,r"H:\test_data\output\meb_new\m3.txt",creat_dir = True,show = True)

成功输出至H:\test_data\output\meb_new\m3.txt

True

In [4]:
meb.read_stadata_from_micaps3(r"H:\test_data\output\meb_new\m3.txt")

      level                time  dtime     id     lon    lat  data0
0         0 2018-08-01 08:00:00      0   1009   89.49   3.99   27.9
1         0 2018-08-01 08:00:00      0  29645   86.22  55.25    8.1
2         0 2018-08-01 08:00:00      0  28593   74.63  56.10   15.1
3         0 2018-08-01 08:00:00      0  36022   80.33  52.02    9.5
4         0 2018-08-01 08:00:00      0  29209   77.22  57.81   11.0
...     ...                 ...    ...    ...     ...    ...    ...
3994      0 2018-08-01 08:00:00      0  48679  103.67   1.63   24.4
3995      0 2018-08-01 08:00:00      0  16364   16.37  38.76   18.4
3996      0 2018-08-01 08:00:00      0  16415   14.87  38.58   24.1
3997      0 2018-08-01 08:00:00      0  16081    9.26  45.46   26.7
3998      0 2018-08-01 08:00:00      0  16314   16.66  40.68   22.9

[3999 rows x 7 columns]